/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Color palette */
:root {
  --black: var(#121212);
  --gray: var(#d9d9d9);
  --gray-additional: var(#b3b3b3);
  --gray-border: var(#bfbfbf);

  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;
  --extrablack: 950;

  --norm: normal;
  --ital: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}
