/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Color palette */
:root {
  --c-black: #121212;
  --gray: #d9d9d9;
  --gray-additional: #b3b3b3;
  --gray-border: #bfbfbf;

  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;
  --extrablack: 950;

  --norm: normal;
  --ital: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--c-black);
}

button {
  font-family: 'Raleway', sans-serif;
  border: none;
  background-color: transparent;
}
